.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto auto 1fr;
  column-gap: 40px;
  row-gap: 48px;
  margin-bottom: 80px;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 340px 1fr;
    column-gap: 28px;
    row-gap: 46px;
    margin-bottom: 73px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
    row-gap: 30px;
    margin-bottom: 50px;
  }
}